# Neon Postgres connection string
# Example:
# DATABASE_URL=postgresql://<user>:<password>@<host>/<database>?sslmode=require
DATABASE_URL=


PORT=3000

# Google Maps API Key
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

#Gmail App Password
GMAIL_APP_PASSWORD="your mail pass here"